body{
    background-color: rgba(206, 216, 219, 0.89);
}

.main{
    width: 100vw;
    min-height: 100vh;
}

h1{
    font-size: 24px;
    font-weight: bold;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

p{
    font-size: 18px;
    color: gray;
}
.conteudo{
    border: 20px solid #FFFFFF;
    border-radius: 25px;
    width: 280px;
    min-height: 450px;
    background-color: #FFFFFF;
    display: flex;
    flex-direction: column;
    position: relative;
    top: 20vh;
    left: 39vw;
    text-align: center;

}
.imagem{
    border-radius: 15px;
}

